.md-header__button.md-logo img {
	height: 2.2rem;
}

/* Page header font size like H2 */
@media screen and (min-width: 76.1876em) {
.md-header {
	font-size: 0.8rem;
}
.md-header__title {
	font-size: 1.5625em;
}
.md-header__topic:first-child {
	font-weight: 400;
}
}
