/* 
  Local font instead of gstatic
  see /fonts/roboto.css
  https://en.bestfonts.pro/font/roboto
*/
:root {
  --md-text-font: "Roboto"; 
}

/* Logo larger than regular */
.md-header__button.md-logo img {
	height: 2.2rem;
}

/* Page header font size like H2 */
@media screen and (min-width: 76.1876em) {
	.md-header {
		font-size: 0.8rem;
	}
	.md-header__title {
		font-size: 1.5625em;
	}
	.md-header__topic:first-child {
		font-weight: 400;
	}
}

/* Table styles */
.md-typeset__table {
	display: block;
}
.md-typeset table:not([class]) {
	display: table;
	font-size: initial;
	border-top: none;
}
.md-typeset table:not([class]) thead {
	display: none;
}
.md-typeset table:not([class]) tr td:nth-child(1) {
	width: 131px;
	min-width: 131px;
	max-width: 131px;
}
.md-typeset table:not([class]) tr td:nth-child(2) {
	padding-left: 0;
}

/* 
  Try to rotect email from spam
   https://css-tricks.com/how-to-safely-share-your-email-address-on-a-website/
*/
span.blockspam {
  display: none;
}
